docs/vault-guardian/scenarios/VERIZON_GUARDIAN_v1.0_blueprint.json
{
  "name": "VERIZON_GUARDIAN_v1.0",
  "flow": [
    {
      "id": 1,
      "module": "google-email:watchEmails",
      "version": 1,
      "parameters": {
        "folder": "INBOX",
        "criteria": "from:(verizon.com OR vzw.com OR verizonwireless.com OR verizon.net)",
        "maxResults": 10
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {},
        "expect": []
      }
    },
    {
      "id": 2,
      "module": "openai:createCompletion",
      "version": 1,
      "parameters": {
        "model": "gpt-4",
        "temperature": 0.3,
        "max_tokens": 500
      },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "You are a legal analyst specializing in consumer protection violations. Analyze emails from Verizon for potential violations of: ADA Title II, FDCPA, TCPA, service quality issues, billing disputes, and deceptive practices. Return structured JSON with: violation_types (array), severity (CRITICAL/HIGH/MEDIUM/LOW), summary (1-2 sentences), estimated_damages (number), evidence_strength (Strong/Moderate/Weak), action_required (string)."
          },
          {
            "role": "user",
            "content": "Analyze this email:\n\nFrom: {{1.from}}\nSubject: {{1.subject}}\nDate: {{1.date}}\n\nBody:\n{{1.bodyPlain}}\n\nContext: Sender is SSA-Disabled customer with active billing dispute. Service disconnection during dispute = violation."
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {},
        "expect": []
      }
    },
    {
      "id": 3,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "json": "{{2.choices[0].message.content}}"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {},
        "expect": []
      }
    },
    {
      "id": 4,
      "module": "google-drive:uploadFile",
      "version": 3,
      "parameters": {
        "folder": "Trust_Vault/Verizon_Evidence/2025/12",
        "convert": false
      },
      "mapper": {
        "name": "VERIZON_{{formatDate(1.date; \"YYYYMMDD_HHmmss\")}}_{{1.id}}.txt",
        "data": "**VERIZON EMAIL EVIDENCE**\n\nCase ID: AUTO-{{formatDate(now; \"YYYYMMDDHHmmss\")}}\nReceived: {{formatDate(1.date; \"YYYY-MM-DD HH:mm:ss\")}} EST\n\n---\n\nFrom: {{1.from}}\nSubject: {{1.subject}}\nDate: {{1.date}}\n\n---\n\nBODY:\n{{1.bodyPlain}}\n\n---\n\nAI ANALYSIS:\n{{toJSON(3)}}\n\n---\n\nGmail Link: https://mail.google.com/mail/u/0/#inbox/{{1.id}}\nPreserved: {{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}} EST",
        "mimeType": "text/plain"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        },
        "restore": {},
        "expect": []
      }
    },
    {
      "id": 5,
      "module": "notion:createDatabaseItem",
      "version": 1,
      "parameters": {
        "databaseId": "5b5979486c04411382801840f4818800"
      },
      "mapper": {
        "properties": {
          "Case_ID": {
            "title": [
              {
                "text": {
                  "content": "VZN-{{formatDate(now; \"YYYYMMDD-HHmmss\")}}"
                }
              }
            ]
          },
          "Email_From": {
            "rich_text": [
              {
                "text": {
                  "content": "{{1.from}}"
                }
              }
            ]
          },
          "Email_Subject": {
            "rich_text": [
              {
                "text": {
                  "content": "{{1.subject}}"
                }
              }
            ]
          },
          "Received_Date": {
            "date": {
              "start": "{{1.date}}"
            }
          },
          "Severity": {
            "select": {
              "name": "{{3.severity}}"
            }
          },
          "Violation_Types": {
            "multi_select": [
              "{{map(3.violation_types; 'name'; value)}}"
            ]
          },
          "Summary": {
            "rich_text": [
              {
                "text": {
                  "content": "{{3.summary}}"
                }
              }
            ]
          },
          "Estimated_Damages": {
            "number": "{{3.estimated_damages}}"
          },
          "Evidence_Strength": {
            "select": {
              "name": "{{3.evidence_strength}}"
            }
          },
          "Action_Required": {
            "rich_text": [
              {
                "text": {
                  "content": "{{3.action_required}}"
                }
              }
            ]
          },
          "Gmail_Link": {
            "url": "https://mail.google.com/mail/u/0/#inbox/{{1.id}}"
          },
          "Drive_Evidence": {
            "url": "{{4.webViewLink}}"
          },
          "Status": {
            "select": {
              "name": "New"
            }
          },
          "Created_By": {
            "rich_text": [
              {
                "text": {
                  "content": "VERIZON_GUARDIAN_v1.0"
                }
              }
            ]
          }
        }
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        },
        "restore": {},
        "expect": []
      }
    },
    {
      "id": 6,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 1500,
          "y": 0
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 7,
              "module": "slack:createMessage",
              "version": 1,
              "parameters": {
                "channel": "C0A20NPLY65"
              },
              "mapper": {
                "text": "🚨 *VERIZON CASE ALERT: Critical Priority Violation Detected* 🚨\n\n⚖️ **Case:** VZN-{{formatDate(now; \"YYYYMMDD-HHmmss\")}}\n📧 **From:** {{1.from}}\n📋 **Subject:** {{1.subject}}\n🕐 **Received:** {{formatDate(1.date; \"YYYY-MM-DD HH:mm:ss\")}} EST\n\n**Violation Types:**\n{{join(map(3.violation_types; value); \"\\n- \")}}\n\n**Summary:**\n{{3.summary}}\n\n💰 **Estimated Damages:** ${{formatNumber(3.estimated_damages; 0; \",\"; \".\")}}\n📊 **Evidence Strength:** {{3.evidence_strength}}\n\n**Action Required:**\n{{3.action_required}}\n\n🔗 **Evidence:**\n• Notion: {{5.url}}\n• Gmail: https://mail.google.com/mail/u/0/#inbox/{{1.id}}\n• Drive: {{4.webViewLink}}\n\n⚠️ *IMMEDIATE RESPONSE REQUIRED*\n\n<@U0917LJH52L>",
                "username": "Verizon Guardian",
                "icon_emoji": ":warning:",
                "mrkdwn": true
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": -200
                }
              }
            }
          ],
          "filter": {
            "name": "CRITICAL Severity",
            "conditions": [
              [
                {
                  "a": "{{3.severity}}",
                  "o": "text:equal",
                  "b": "CRITICAL"
                }
              ]
            ]
          }
        },
        {
          "flow": [
            {
              "id": 8,
              "module": "slack:createMessage",
              "version": 1,
              "parameters": {
                "channel": "C0A20NPLY65"
              },
              "mapper": {
                "text": "⚠️ *VERIZON CASE ALERT: High Priority Violation* ⚠️\n\n⚖️ **Case:** VZN-{{formatDate(now; \"YYYYMMDD-HHmmss\")}}\n📧 **From:** {{1.from}}\n📋 **Subject:** {{1.subject}}\n🕐 **Received:** {{formatDate(1.date; \"YYYY-MM-DD HH:mm:ss\")}} EST\n\n**Violation Types:**\n{{join(map(3.violation_types; value); \"\\n- \")}}\n\n**Summary:**\n{{3.summary}}\n\n💰 **Estimated Damages:** ${{formatNumber(3.estimated_damages; 0; \",\"; \".\")}}\n📊 **Evidence Strength:** {{3.evidence_strength}}\n\n**Action Required:**\n{{3.action_required}}\n\n🔗 **Evidence:**\n• Notion: {{5.url}}\n• Gmail: https://mail.google.com/mail/u/0/#inbox/{{1.id}}\n• Drive: {{4.webViewLink}}",
                "username": "Verizon Guardian",
                "icon_emoji": ":large_orange_diamond:",
                "mrkdwn": true
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 0
                }
              }
            }
          ],
          "filter": {
            "name": "HIGH Severity",
            "conditions": [
              [
                {
                  "a": "{{3.severity}}",
                  "o": "text:equal",
                  "b": "HIGH"
                }
              ]
            ]
          }
        },
        {
          "flow": [
            {
              "id": 9,
              "module": "slack:createMessage",
              "version": 1,
              "parameters": {
                "channel": "C0A20NPLY65"
              },
              "mapper": {
                "text": "📋 *Verizon Communication Logged* 📋\n\n⚖️ **Case:** VZN-{{formatDate(now; \"YYYYMMDD-HHmmss\")}}\n📧 **From:** {{1.from}}\n📋 **Subject:** {{1.subject}}\n🕐 **Received:** {{formatDate(1.date; \"YYYY-MM-DD HH:mm:ss\")}} EST\n\n**Severity:** {{3.severity}}\n\n**Summary:**\n{{3.summary}}\n\n🔗 **Evidence:**\n• Notion: {{5.url}}\n• Gmail: https://mail.google.com/mail/u/0/#inbox/{{1.id}}\n• Drive: {{4.webViewLink}}",
                "username": "Verizon Guardian",
                "icon_emoji": ":clipboard:",
                "mrkdwn": true
              },
              "metadata": {
                "designer": {
                  "x": 1800,
                  "y": 200
                }
              }
            }
          ],
          "filter": {
            "name": "MEDIUM/LOW Severity",
            "conditions": [
              [
                {
                  "a": "{{3.severity}}",
                  "o": "text:match",
                  "b": "MEDIUM|LOW"
                }
              ]
            ]
          }
        }
      ]
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 5,
      "autoCommit": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  },
  "notes": [
    {
      "text": "VERIZON_GUARDIAN_v1.0 - Live Fire Defense System\n\nPURPOSE: Real-time monitoring and automated response for all Verizon communications\n\nCONFIGURATION:\n- Notion Database: 5b5979486c04411382801840f4818800 (Verizon_Case_Tracker)\n- Slack Channel: C0A20NPLY65 (#verizon-watch)\n- Slack User: U0917LJH52L (for CRITICAL alerts)\n- PostGrid API: Not configured (optional)\n\nFLOW:\n1. Gmail Watch → Detect Verizon emails\n2. GPT-4 Analysis → Classify violations and severity\n3. Parse JSON → Extract structured data\n4. Drive Upload → Preserve evidence\n5. Notion Log → Track case timeline\n6. Router → Severity-based routing\n7-9. Slack Alerts → Notify team (severity-based)\n\nDEPLOYMENT: Import this JSON to Make.com, configure connections, test, activate.\n\nSUPPORT: See docs/vault-guardian/10-VERIZON-GUARDIAN-IMPLEMENTATION.md"
    }
  ]
}
